<div class="rainbow-bar"></div>

  <nav class="navbar">
      <div class="navbarlinks"><img src="./images/vimeo_logo.svg" id="logo" alt="Vimeo"></div>
      <div><button id="join">Join</button></div>
      <div class="navbarlinks">Categories</div>
      <div class="navbarlinks">Trending</div>
      <div class="navbarlinks">On Demand</div>
      <div class="blanknavspace navbarlinks"></div>
      <input type="text" class="input navbarlinks" placeholder="Search videos, people, and more">
      <div><button id="join_right">Log in</button></div>
  </nav>
    <div class="errorcontainer">
      <img src="./images/robot.jpg" alt="Robot" class="robot">
      <h1>Technical Difficulties</h1>
      <p>The login information you provided is invalid. Please verify you have the correct username and password.</p>
      <input type="text" class="searchinput" placeholder="Search videos, people, and more">
      <button class="searchbutton">Search</button>
  </div>
